/* font */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap");

/*------------ VARIABLES CSS  --------------------*/

:root {
  --header-height: 6.25rem;

  /*------------ COLLORS --------------------*/

  --main-color: #a97782;
  --first-color: #75492b;
  --second-color: #dfd6a7;
  --whiter-color: #ffffff;
  --black-color: #151515;

  /*------------ FONT AND TYPOGRAPHY --------------------*/
  --font-cursive: "Great Vibes", cursive;
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --samll-font-size: 0.813rem;

  /*------------ FONT WEIGHT --------------------*/

  --font-light: 300;
  --font-medium: 400;
  --font-semi-bold: 700;
  --font-bold: 800;

  /*------------ MARGINS --------------------*/

  --mb-05: 0.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*------------ Z-INDEXS --------------------*/

  --z-fixed: 100;
  --z-tooltip: 10;
  --z_negative: -1;
}
/*------------ BASE --------------------*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

section {
  padding: calc(var(--header-height) +20px) 0;
}

.grid {
  display: grid;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------ BUTTON --------------------*/

.btn {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--whiter-color);
  color: var(--main-color);
}

/*------------ NAV --------------------*/

.one-header {
  width: 100%;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999999;
  transition: all 400ms ease;
}

.one-header img {
  border: 2px solid var(--main-color);
  border-radius: 50%;

  padding: 2px;
  width: 100px;
}

.navbar {
  justify-content: space-between;
}

.nav__toggle {
  font-size: var(--h1-font-size);
  padding: 5px 5px 0;
  margin-right: 18px;
  border: 2px solid transparent;
  cursor: pointer;
  z-index: var(--z-fixed);
  color: var(--whiter-color);
}

.nav__toggle:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

/*------------ MEDIA QUERY NAVBAR --------------------*/
@media (max-width: 960px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--second-color);
    font-size: var(--h2-font-size);
    text-align: center;
    text-transform: capitalize;
    padding-top: var(--header-height);
    transition: all 400ms ease-in-out;
  }

  .nav__item {
    padding: 15px 0;
  }
}

.show-menu {
  width: 60%;
}

.nav__link {
  font-weight: var(--font-bold);
  color: var(--whiter-color);
  position: relative;
  transition: all 400ms ease;
}
.nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  transition: all 400ms ease-in-out;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__link:hover,
.nav__link.active-link {
  color: var(--main-color);
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  border-radius: 0 0 300px 0;
}

.hero .hero__img {
  display: none;
}

.hero .hero__content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .hero__content h1 {
  font-family: var(--font-cursive);
  font-size: var(--big-font-size);
  line-height: calc(var(--big-font-size) + 30px);
  letter-spacing: 0.1rem;
  color: var(--whiter-color);
  margin-bottom: var(--mb-1-5);
}

.hero .hero__content p {
  fomt-weight: var(--font-medium);
  text-align: center;
  line-height: calc(var(--normal-font-size) + 10px);
  padding: 0 3rem;
  letter-spacing: 0.2rem;
  color: var(--black-color);
  margin-bottom: var(--mb-1-5);
}
